---
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import PageHeader from "@/components/PageHeader.astro";
import { getEntryBySlug } from "astro:content";

---

<Base title={"Docs"}>
  <PageHeader title={"Docs"} />
  <section class="section-sm pb-0">
    <div class="container">
      
    </div>
  </section>
</Base>
