---
import DocBrowser from '@/components/DocBrowser.astro';
import DocContents from '@/components/DocContents.astro';
import Base from "@/layouts/Base.astro";
import PageHeader from "@/components/PageHeader.astro";

---

<Base title={"Docs"}>
  <!-- <PageHeader title={"Docs"} />
  <section class="section-sm pb-0">
    <div class="container">
      <h1>Documentation lives here.</h1>
    </div>
  </section> -->
  <section class="section pt-7">
    <div class="container">
      <div class="row justify-center">
        <div class="grid grid-cols-12">
          <!-- Document Browser (Left) -->
          <div class="col-span-3 sticky top-0 h-screen flex">
            <div class="ml-auto">
              <DocBrowser currentPage={null} />
            </div>
          </div>
          <!-- Content -->
          <main class="py-4 px-8 pb-32 col-span-6  overflow-auto">
            <article>
              <h1 class="mb-4">{ "Docs" }</h1>
              <div class="content mb-10">
                <p class="mb-4">
                  { "Documentation lives here." }
                </p>
              </div>
            </article>
          </main>
          <!-- Document Contents (Right) -->
          <div class="col-span-3 sticky top-0 h-screen flex">
            <DocContents headings={null} />
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
