---
import docs from "@/config/docs.json";
const { currentPage } = Astro.props;
const currentPageMatch = currentPage ? currentPage.slice(1) : null;

const isCurrentPage = (item) => {
  if (item.link) {
    return item.link.includes(currentPageMatch);
  }
  return false;
};

const getLinkClasses = (link) => {
  const baseClasses =
    "text-xl block py-1 px-2 my-1 rounded hover:bg-theme-light dark:hover:bg-darkmode-theme-light";

  if (isCurrentPage(link)) {
    return baseClasses + "rounded bg-theme-light dark:bg-darkmode-theme-light";
  } else {
    return baseClasses;
  }
};

export interface doc_data {
  text: string;
  header?: boolean;
  link?: string;
}

const { main }: { main: doc_data[] } = docs;
---

<nav aria-labelledby="grid-left" class="border-r">
  <div class="mx-4 my-16">
    <ul>
      {
        main.map((item) =>
          item.header ? (
            <h3 class="mt-4">{item.text}</h3>
          ) : (
            <li>
              <a class={getLinkClasses(item)} href={item.link}>
                {item.text}
              </a>
            </li>
          ),
        )
      }
    </ul>
  </div>
</nav>

<script is:inline>
  window.addEventListener("DOMContentLoaded", (event) => {
    var target = document.querySelector('[aria-current="page"]');
    if (target && target.offsetTop > window.innerHeight - 100) {
      document.querySelector(".nav-groups").scrollTop = target.offsetTop;
    }
  });
</script>
