---
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import { upperHumanize } from "@/lib/utils/textConverter";

interface Props {
  title?: string;
}

const { title = "" }: Props = Astro.props;
---

<section>
  <div class="container text-center -mb-8">
    <div
      class="rounded-2xl bg-gradient-to-b from-body to-theme-light px-8 py-14 dark:from-darkmode-body dark:to-darkmode-theme-light"
    >
      <h1 set:text={upperHumanize(title)} />
      <Breadcrumbs className="mt-6" />
    </div>
  </div>
</section>
