---
import Social from "@/components/Social.astro";
import social from "@/config/social.json";
---

<footer class="bg-theme-light dark:bg-darkmode-theme-light mt-auto">
  <div class="container">
    <div class="row items-center py-2">
      <div class="mb-2 text-center lg:col-6 lg:mb-0 lg:text-left">
        <ul>
          <li class="m-3 inline-block">
            <a href="/terms">&copy; Jane Doe 2023</a>
          </li>
        </ul>
      </div>
      <div class="mb-2 text-center lg:col-6 lg:mb-0 lg:mt-0 lg:text-right">
        <Social source={social.main} className="social-icons" />
      </div>
    </div>
  </div>
</footer>
