---
import BaseLayout from "@components/base/BaseLayout.astro";
import Button from "@components/common/Button.astro";
---

<BaseLayout title="Page Not Found">
  <section class="section-sm text-center">
    <div class="container">
      <div class="row justify-center">
        <div class="glass rounded-lg p-4 sm:col-10 md:col-8 lg:col-6 intersect:animate-fadeUp opacity-0">
          <h1
            class="text-[8rem] block"
          >
            404
          </span>
          <h1 class="h2 mb-4">Page not found</h1>
          <p class="mb-8">
            The page you are looking for might have been removed, had its name
            changed, or is temporarily unavailable.
          </p>
          <Button link="/" label="Back to Home" hoverInvert/>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
