.bg-gradient {
  @apply bg-gradient-to-br from-purple-500 to-pink-500;
}

.rounded-sm {
  @apply rounded-[4px];
}
.rounded {
  @apply rounded-[6px];
}
.rounded-lg {
  @apply rounded-[12px];
}
.rounded-xl {
  @apply rounded-[16px];
}

.shadow {
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
}
