---
import type { BlogEntry } from "@/types";
import BlogCard from "@/components/BlogCard.astro";
import Base from "@/layouts/Base.astro";
import { getSinglePages } from "@/lib/contentParser.astro";
import { getTaxonomy } from "@/lib/taxonomyParser.astro";
import { upperHumanize } from "@/lib/utils/textConverter";
import taxonomyFilter from "@/lib/utils/taxonomyFilter";
import DivisionSingle from "@/layouts/DivisionSingle.astro";

export async function getStaticPaths() {
  const categories = await getTaxonomy("blog", "categories");
  return categories.map((category) => {
    return {
      params: { category },
    };
  });
}

const { category } = Astro.params;
const posts: BlogEntry[] = await getSinglePages("blog");
const filterByCategories: BlogEntry[] = taxonomyFilter(posts, "categories", category!);
---

<Base title={upperHumanize(category)}>
  <DivisionSingle division="categories">
    {
      filterByCategories.map((post) => (
        <div class="py-2 md:py-4 md:col-6">
          <BlogCard data={post} />
        </div>
      ))
    }
  </DivisionSingle>
</Base>
