---
import type { AuthorsEntry } from "@/types";
import Base from "@layouts/Base.astro";
import PageHeader from "@components/PageHeader.astro";
import AuthorCard from "@components/AuthorCard.astro";

interface Props {
  authorIndex: AuthorsEntry;
  entries: AuthorsEntry[];
}

const { authorIndex, entries } = Astro.props;
---

<Base title={authorIndex.data.title} description={authorIndex.data.description}>
  <PageHeader title={authorIndex.data.title} />
  <section class="section-sm pb-0">
    <div class="container">
      <div class="row justify-center">
        {entries.map((entry) => <AuthorCard entry={entry} />)}
      </div>
    </div>
  </section>
</Base>
