---
import PageHeader from "@/components/PageHeader.astro";

interface Props {
  division: string;
}

const { division }: Props = Astro.props;
---

<PageHeader title={division} />
<section class="section-sm">
  <div class="pb-0">
    <div class="container">
      <div class="row">
        <slot />
      </div>
    </div>
  </div>
</section>

