---
import Base from "@/layouts/Base.astro";
import PageHeader from "@/components/PageHeader.astro";
import { getEntryBySlug } from "astro:content";

const terms = await getEntryBySlug("terms", "-index");
const { Content } = await terms.render();
const { title } = terms.data;
---

<Base meta_title={title}>
  <PageHeader title={title} />
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="col-10">
          <div class="content">
            <Content />
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
