---
import Base from "@layouts/Base.astro";
import PageHeader from "@components/PageHeader.astro";
import { getEntry, render } from 'astro:content';

const terms = await getEntry("terms", "-index");
const { Content } = await render(terms);
const { title } = terms.data;
---

<Base title={title}>
  <PageHeader title={title} />
  <section class="section-sm">
    <div class="">
      <div class="row justify-center">
        <div class="col-10 content glass rounded-lg p-4">
          <Content />
        </div>
      </div>
    </div>
  </section>
</Base>
