---
interface Props {
  style?: string;
}

const { style = "" }: Props = Astro.props;
---

<!-- 
  Intersect Transitions
  - Fade        : intersect:animate-fade opacity-0
  - Fade Up     : intersect:animate-fadeUp opacity-0
  - Fade Down   : intersect:animate-fadeDown opacity-0
  - Fade Right  : intersect:animate-fadeRight opacity-0
  - Fade Left   : intersect:animate-fadeLeft opacity-0
  - Scale       : intersect:animate-scale opacity-0 scale-50
-->
<div class="h-full m-2 pl-0 bg-gradient-to-br gradient-1c rounded-lg">
  <div class="glass h-full rounded-lg intersect:animate-fadeUp opacity-0">
    <div class={style}>
      <slot />
    </div>
  </div>
</div>
