---
interface Props {
  style?: string;
}

const { style="" }: Props = Astro.props;
---

<div class="h-full m-2 pl-0 bg-gradient-to-br gradient-1c rounded-lg">
  <div class="glass h-full rounded-lg">
    <div class={style}>
      <slot />
    </div>
  </div>
</div>