---
interface Props {
  style?: string;
}

const { style = "" }: Props = Astro.props;
---

<!-- 
  Intersect Transitions
  - Fade        : intersect:animate-fade opacity-0
  - Scale       : intersect:animate-scale opacity-0 scale-50
  - Slide Right : intersect:animate-slideRight -translate-x-1/3
  - Slide Left  : intersect:animate-slideLeft translate-x-1/3
-->
<div class="h-full m-2 pl-0 bg-gradient-to-br gradient-1c rounded-lg intersect:animate-fade opacity-0">
  <div class="glass h-full rounded-lg">
    <div class={style}>
      <slot />
    </div>
  </div>
</div>
