---
const { data } = Astro.props;
---

<!-- Gradient: bg-gradient-to-r from-text via-transparent to-transparent dark:from-darkmode-text -->

<div class="h-full pl-0.5 bg-text dark:bg-darkmode-text">
  <div class="h-full p-1 pl-4 bg-body dark:bg-darkmode-body ">
    <slot />
  </div>
</div>