---
import { capitalizeFirstLetter } from "@/lib/utils/docUtils";
import { ScrollArea } from "@shortcodes/ScrollArea";
import type { SideNavMenuProps } from "@/types/index";

const { items, level } = Astro.props as SideNavMenuProps; // { pageNumber, ... }
const pathname: string = new URL(Astro.request.url).pathname;
---


<div class=`${level == 0 && "glass rounded-lg p-4 m-2 w-full"}`>
  <ScrollArea className="h-full" client:only="react">
    {
      level === 0 && (
        <h2 class="text-2xl border-none">Documents</h2>
      )
    }
    <ul class:list={["list-none m-0"]}>
      {
        items
          .filter((item) => !item.draft && !item.id.includes("index"))
          .map((item) => {
            const label = item.title
              ? capitalizeFirstLetter(item.title)
              : capitalizeFirstLetter(item.id.split("/").pop() || "");
            const className = `
            ${level === 0 ? "font-semibold" : "pl-4"}
            ${pathname === "/" + item.id ? "text-primary" : "no-underline"}
            `.trim();
            return (
              <li class="w-full">
                <a
                  href={`/docs/${item.id}`}
                  class={`${className} leading-none w-full`}
                >
                  {label}
                </a>
                {item.children.length > 0 && (
                  <Astro.self items={item.children} level={level + 1} />
                )}
              </li>
            );
          })
      }
    </ul>
  </ScrollArea>
</div>