---
import { capitalizeFirstLetter } from "@/lib/utils/docsUtils";
import type { SideNavMenuProps } from "@/types/index";

const { items, level } = Astro.props as SideNavMenuProps; // { currentPage, ... }
const pathname: string = new URL(Astro.request.url).pathname;

const { class: className } = Astro.props;
// FIX THESE TYPES
---

<ul class:list={["list-none m-0", className]}>
  {
    items
      .filter((item) => !item.draft && !item.id.includes("index"))
      .map((item) => {
        const label = item.title
          ? capitalizeFirstLetter(item.title)
          : capitalizeFirstLetter(item.id.split("/").pop() || "");
        const className = `
        ${level === 0 ? "font-semibold" : "text-muted-foreground"}
        ${pathname === "/" + item.id ? "text-primary" : "no-underline"}
        `.trim();
        return (
          <li class="w-full">
            <a
              href={`/docs/${item.id}`}
              class={`${className}  text-sm leading-none w-full`}
            >
              {label}
            </a>
            {item.children.length > 0 && (
              <Astro.self items={item.children} level={level + 1} />
            )}
          </li>
        );
      })
  }
</ul>
