---
import type { DocsEntry } from "@/types";
import Card from "@/components/Card.astro";

interface Props {
  data: DocsEntry;
}

const { data }: Props = Astro.props;
const { title, description } = data.data;
---

<Card>
  <a href={`/docs/${data.id}`}>
    <h4 class="mb-3">
      {title}
    </h4>
  </a>
  <p>
    {description}
  </p>
</Card>
