---
import type { DocsEntry } from "@/types";
import Card from "@components/Card.astro";

interface Props {
  entry: DocsEntry;
}

const { entry } = Astro.props;
const { title, description } = entry.data;
---

<Card style="p-4">
  <a href={`/docs/${entry.id}`}>
    <h4 class="mb-3">
      {title}
    </h4>
  </a>
  <p>
    {description}
  </p>
</Card>
