---
import type { DocsEntry } from "@/types";

interface Props {
  data: DocsEntry;
}

const { data }: Props = Astro.props;
const { title, description } = data.data;
---

<div class="min-h-full block border border-light bg-transparent text-light rounded-sm dark:text-darkmode-light dark:border-darkmode-light">
  <div class="m-6">
    <a href={`/docs/${data.id}`}>
      <h4 class="mb-3">
        {title}
      </h4>
    </a>
    <p>
      {description}
    </p>
  </div>
</div>