---
import { Image } from "astro:assets";
import Card from "@components/Card.astro";
import type { RecipesEntry } from "@/types";

interface Props {
  entry: RecipesEntry;
}

const { entry } = Astro.props;
const { title, image, imageAlt } = entry.data;
---

<Card style="">
  <a href={`/recipes/${entry.id}`}>
    <div class="relative">
      {
        image && (
          <Image
            class="rounded-lg"
            src={image}
            alt={imageAlt}
            width={1280}
            height={720}
            format="webp"
          />
        )
      }
      <div class="glass text-center rounded-lg px-2 py-1 absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%]">
        <h4 class="">
          {title}
        </h4>
      </div>
    </div>
  </a>
</Card>