---
import type { AuthorsEntry } from "@/types";
import BaseLayout from "@components/base/BaseLayout.astro";
import PageHeader from "@components/common/PageHeader.astro";
import AuthorCard from "@components/authors/Card.astro";

interface Props {
  authorIndex: AuthorsEntry;
  entries: AuthorsEntry[];
}

const { authorIndex, entries } = Astro.props;
---

<BaseLayout title={authorIndex.data.title} description={authorIndex.data.description}>
  <PageHeader title={authorIndex.data.title} />
  <section class="section-sm pb-0">
    <div class="container">
      <div class="row justify-center">
        {entries.map((entry) => <AuthorCard entry={entry} />)}
      </div>
    </div>
  </section>
</BaseLayout>
