---
import DocBrowser from "@/components/DocBrowser.astro";
import DocContents from "@/components/DocContents.astro";

const { post } = Astro.props;
const { Content, headings } = await post.render();
const { title } = post.data;
const currentPage = new URL(Astro.request.url).pathname;
---

<section class="section pt-7">
  <div class="container">
    <div class="row justify-center">
      <div class="flex">
        <!-- Document Browser (Left) -->
        <div class="col-3 sticky top-12 h-screen flex">
          <DocBrowser currentPage={currentPage} />
        </div>
        <!-- Content -->
        <main class="py-4 col-9 lg:col-6 overflow-auto">
          <article>
            <h1 class="mb-4">{title}</h1>
            <div class="content mb-10">
              <Content />
            </div>
          </article>
        </main>
        <!-- Document Contents (Right) -->
        <div class="col-3 sticky top-12 h-screen flex invisible lg:visible">
          <DocContents headings={headings} />
        </div>
      </div>
    </div>
  </div>
</section>
