---
import DocBrowser from '@/components/DocBrowser.astro';
import DocContents from '@/components/DocContents.astro';

const { post } = Astro.props;
const { Content, headings } = await post.render();
const { title } = post.data;
const currentPage = new URL(Astro.request.url).pathname;
---

<section class="section pt-7">
  <div class="container">
    <div class="row justify-center">
      <div class="grid grid-cols-12">
        <!-- Document Browser (Left) -->
        <div class="col-span-3 sticky top-0 h-screen flex">
          <div class="ml-auto">
            <DocBrowser currentPage={currentPage} />
          </div>
        </div>
        <!-- Content -->
        <main class="py-4 px-8 pb-32 col-span-6  overflow-auto">
          <article>
            <h1 class="mb-4">{ title }</h1>
            <div class="content mb-10">
              <Content />
            </div>
          </article>
        </main>
        <!-- Document Contents (Right) -->
        <div class="col-span-3 sticky top-0 h-screen flex">
          <DocContents headings={headings} />
        </div>
      </div>
    </div>
  </div>
</section>